@import "tailwindcss";

/* Global Reset */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    system-ui,
    sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}